# THIS FILE SHOULD BE COPIED TO SYSTEM ROOT
# LINES FOR USED SYSTEM SHOULD BE UNCOMMENTED

# REMOTE
# input_root=/truba/home/ngengec
# output_root=/truba/home/ngengec/data_sets

# LINUX
# input_root=/home/ngengec/Desktop/final_data
# output_root=/home/ngengec/Desktop

# MAC
# input_root=/Users/gengec/Desktop/desktop/final_data
# output_root=/Users/gengec/Desktop/desktop