# Created by https://www.gitignore.io/api/linux,pycharm
# Edit at https://www.gitignore.io/?templates=linux,pycharm

# TODO: correct ignore data folders entry

# ignore folders
output_models/*
logs/*
debug/*

# exception to the rule
!output_models/.gitkeep
!logs/.gitkeep
!debug/.gitkeep